---
import H1 from '@/components/typography/H1.astro'
import SmallText from '@/components/typography/SmallText.astro'
// Props Types
type Props = {
  title: string
  subtitle: string
}

// Astro Props
const { title, subtitle } = Astro.props

// Splitting the title for the Header
const sliceTitle = title.split(' ')
---

<div class="w-fit px-10">
  <SmallText>
    {subtitle}
  </SmallText>
  <H1>
    {sliceTitle[0]}{' '}
    <span class="text-muted-foreground">{sliceTitle[1]}</span>
  </H1>
</div>
