---
// Astro imports - Components
import BaseLayout from "@/layouts/BaseLayout.astro";
import H1 from "@/components/typography/H1.astro";
import SmallText from "@/components/typography/SmallText.astro";
import Large from "@/components/typography/Large.astro";
import { Button } from "@/components/ui/button";
import { buttonVariants } from "@/components/ui/button";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { Image } from 'astro:assets';
import Imagetest from "@/assets/Imagetest.png";


const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

// create static page instead of SSR
export const prerender = true
---

<BaseLayout
  title="404 - Страница не найдена"
  description="404 Ошибка! — Эта страница не найдена"
>
  
  <div class="m-32 flex flex-col items-center justify-center gap-2 px-8">
      <Image src={Pagenotfound} alt="404 page" class="w-400 h-400 object-cover rounded-xl overflow-hidden" width={400} height={200}/>
    <Large>{t('404-subtittle')}</Large>
    <H1>
      {t('404-tittle')}
    </H1>
    <SmallText>
      {t('404-desc')}
    </SmallText>
    <Button variant="link">
      <a class="hover:text-emerald-500 text-sm font-medium leading-none transition-all duration-200 hover:opacity-80 focus:opacity-80" href="/" rel="noreferrer" class={buttonVariants()} title="back to the Home Page"> {t('404-button')} </a>
      <svg class="w-5 h-5 ml-2 text-emerald-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
    </Button> 
  </div>
</BaseLayout>
